<script lang="ts">
  import { afterUpdate, createEventDispatcher } from "svelte";
  import type {
    SearchResult,
    EntityAction,
    SearchItem,
  } from "../module/searchLib";
  import { formatMatch } from "../module/searchLib";

  const dispatch = createEventDispatcher();

  export let active: boolean;
  export let results: (SearchResult & {
    actions: EntityAction[];
    defaultAction: string;
  })[];
  export let selectedIndex: number;
  export let selectedAction: string;

  let resultList: HTMLElement;

  afterUpdate(() => {
    resultList?.children[selectedIndex]?.scrollIntoView({ block: "nearest" });
  });

  function callAction(actionId: string, item: SearchItem, shiftKey: boolean) {
    dispatch("callAction", { actionId, item, shiftKey });
  }
</script>

{#if active}
  <ul class="quick-insert-result" bind:this={resultList}>
    {#each results as { item, match, actions, defaultAction }, i (item.uuid)}
      <li class:search-selected={i === selectedIndex}>
        <!-- svelte-ignore a11y-missing-attribute -->
        <a
          class="entity-link"
          title="{item.name}, {item.tagline}"
          {...item.draggableAttrs}
          on:click|stopPropagation={(e) => callAction(defaultAction, item, e.shiftKey)}>
          {#if item.img}
            <img src={item.img} />
          {:else}
            {@html item.icon}
          {/if}
          <span class="title">
            {@html formatMatch({ item, match }, (str) => `<strong>${str}</strong>`)}</span>
          <span class="sub">{item.tagline}</span>
          <span class="action-icons">
            {#each actions as action}
              <i
                class="{action.icon} action-icon"
                class:selected={i === selectedIndex && (selectedAction ? action.id === selectedAction : action.id == defaultAction)}
                title="{action.title} &apos;{item.name}&apos;"
                data-action-id={action.id}
                on:click|stopPropagation={(e) => callAction(action.id, item, e.shiftKey)} />
            {/each}
          </span>
        </a>
      </li>
    {/each}
  </ul>
{/if}
